<!DOCTYPE html>
<html>
  <head>
    <title>IT-Project</title>
    <link rel="stylesheet" href="/css/add.css">
    <link rel="stylesheet" href="/css/course-cards.css">
  </head>
<body>
<div class="topnav-1">
    <a href="/authhome">Home</a>
    <a class="active" href="/dashboard">Dashboard</a>
    <a href="/auth/logout">Log Out</a>
    <p style="text-align:right;color:white;font-size:15px;padding-right:10px;font-weight:500;">Welcome, {{firstname}}</p>
</div>
<div class="gap"></div>
<div class="topnav">
        <a  href="/addcourse">Start New Course</a>
        <a class="active" href="/dashboard">My Courses</a>
</div>
<h1>My Courses</h1>

{{#if courses}}
   <div id="grid">
    {{#each courses}}
    
                    <div class="course-card">
                        <img class="thumbnail" src="/assets/blue.jpg" alt="Course"/>
                        <h3 id="coursename" target="{{courseName}}">{{courseName}}</h3>
                        <span id="author" target="{{../firstname}}" class="author">{{../firstname}}</span>
                        <span class="date">| {{formatDate createdAt 'MMMM Do YYYY'}}</span>
                        <p class="disc"> 
                            {{stripTags (stripNbsp (truncate courseDescription 100))}}
                        </p>
                        <div style="position:absolute;justify-content:center;margin-left:110px;">
                            <input type="submit" value="View" onclick="location.href = '/coursestream/{{_id}}';">
                        </div>
                    </div>
    {{/each}}
      </div>
{{else}}
<p>You have not created any courses</p>
{{/if}}   

</body>